.header__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 45px;
}

.header__title {
  margin: 0;
  font-size: 36px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
}
