.main {
  position: relative;
  height: calc(100vh - 246px);
}

.main__wrapper {
  box-sizing: border-box;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 110px 15px 0;
}

@media (max-width: 767px) {
  .main {
    height: auto;
  }
}

@media (max-height: 3000px) {
  .main {
    height: calc(100vh - 246px);
  }

  .main__wrapper {
    padding-top: 110px;
  }
}

@media (max-height: 999px) {
  .main {
    height: calc(100vh - 226px);
  }

  .main__wrapper {
    padding-top: 40px;
  }
}

@media (max-height: 899px) {
  .main {
    height: calc(100vh - 216px);
  }

  .main__wrapper {
    padding-top: 30px;
  }
}

@media (max-height: 767px) {
  .main {
    height: auto;
  }
}
